.about {
    background-color: $light-gray;

    &__header {
        display: flex;

        label {
            font-size: 3rem;
            letter-spacing: .2em;
            color: $dark;
            margin-right: 95px;
            border-bottom: $border-width solid #ced6af;
            padding-bottom: 1px;

            @include hover {
                cursor: pointer;
                border-bottom-color: $dark;
            }
        }
    }

}
.tab {
    &__content {
        display: block;
        justify-content: space-between;
        padding-top: 30px;
        text-align: center;

        @media screen and (min-width: 768px) {
            display: flex;
            padding-top: 80px;
            text-align: left;
        }
    }

    &-content > .active {
        display: block;
        @media screen and (min-width: 768px) {
            display: flex;
        }
    }

    &__text {
        max-height: 635px;
        overflow: hidden;
        margin: 0 auto;
        max-width:400px;

        @media screen and (min-width: 768px) {
            margin: 0;
        }
    }
    &__title{
        @include font($fz: 2.4rem, $fc: $dark, $lh: 4rem, $ls: .2em);
        
        @media screen and (min-width: 768px) {
            margin-top: 45px;
            max-width: 300px;
        }
    }
    &__paragraph {
        @include font($fz: 1.8rem, $fc: $primary-color, $fw:300, $lh: 4rem, $ls: .04em);
        margin: 35px 0;
    }

    &__img {
        width: 100%;
        height: 100%;
        
        &-wrap {
            max-width: 570px;
            max-height: 300px;
            margin-bottom: 30px;
            overflow: hidden;
        }
    }
}

.nav {
    display: block;
    text-align: center;

    @media screen and (min-width: 568px) {
        display: flex;
        text-align-last: left;
    }
    
    &-item {
        font-size: 2rem;
        letter-spacing: .2em;
        color: $dark;
        border-bottom: $border-width solid #ced6af;
        margin-bottom: -1px;
        display: block;
        
        @media screen and (min-width: 568px) {
            margin-right: 45px;
        }
        @media screen and (min-width: 768px) {
            margin-right: 95px;
        }
        @media screen and (min-width: 992px) {
            font-size: 2.5rem;
            margin-right: 95px;
        }
        @media screen and (min-width: 1200px) {
            font-size: 3rem;
            margin-right: 95px;
        }
    }
    &-tabs &-link.active {
        border-color: transparent;
        border-bottom-color: $dark;
        background-color: transparent;
        color: $dark;
    }
    &-tabs &-link:hover {
        border-color: transparent;
        border-bottom-color: $dark;
        color: $dark;
        @include tr;
    }
}
