.comments {
    background-color: $primary-light;

    .slider {
        position: relative;
    
        &__navigation {
            bottom: 0;
            margin-bottom: -2px;
            display: none;

            @media screen and (min-width: 768px) {
                display: block;
            }
        }
    }
}
.coment {
    text-align: center;
    padding: 100px 0;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    @media screen and (min-width: 768px) {
        height: 800px;
        padding: 260px 0;
    }

    .social__item {
        margin: 50px 0;
    }
    .social__svg {
        fill: #aab384;

        @include hover {
            fill: $primary-color;
        }
    }
    &__blockquote {
        max-width: 770px;
        margin: 0 auto;
        @include font(inherit, 1.8rem, $secondary-color, 300, 4rem, .2em);

        @media screen and (min-width: 768px) {
            font-size: 2.2rem;
        }
    }
    &__author {
        @include font(inherit, 2rem, $secondary-color, 400, 7.5rem, .2em);
        text-transform: uppercase;

        &:before {
            content: "";
            display: inline-block;
            width: 45px;
            height: 1px;
            background-color: $secondary-color;
            margin: 0 15px 7px;

            @media screen and (min-width: 768px) {
                margin: 0 15px 10px;
            }
        }

        @media screen and (min-width: 768px) {
            font-size: 2.4rem;
        }
    }

    
}
.intro__side-container--comment {
    bottom: 30%;
    transform: rotateZ(90deg);
    z-index: 5;
}
