.header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-transform: uppercase;
    border-bottom: $border-width solid $border-color;
    z-index: 5;
}
.headroom {
    will-change: transform;
    transition: transform 200ms linear;

    &--pinned {
        transform: translateY(0%);
        background-color: rgba(200, 200, 200, .7);
    }
    &--unpinned {
        transform: translateY(-100%);
    }
    &--top {
        background-color: transparent;
    }
}

.side-panel__link,
.navigation__link {
    font-size: 1.1rem;
    line-height: 5rem;
    padding: 20px 10px;
    margin: 0 5px;
    position: relative;

    @media screen and (min-width: 768px) {
        font-size: 1.4rem;
    }
    @media screen and (min-width: 992px) {
        font-size: 1.6rem;
        line-height: 8rem;
        margin: 0 15px;
    }

    &:after {
        content: "";
        display: block;
        width: 0;
        height: 2px;
        background-color: $primary-color;
        @include posA();
        @include tr;
    }
    @include hover {
        &:after {
            width: 100%;
        }
    }
}

.logo-wraper {
    @include posA ();
}

.navigation {
    padding-left: 15px;
    &__list {
        display: flex;
    }
    &__link {
        &--active {
            &:after {
                width: 100%;
            }
        }
    }
}


.side-panel {


    &__list {
        display: flex;
    }
    &__btn {
        border-left: $border-width solid $border-color;
        position: relative;
    }
}
.search {
    &__icon {
        fill: $secondary-color;
    }
    &__input {
        background: none;
        border-radius: 50px;
        border: $border-width solid $border-color;
        padding: 5px 10px;
        margin: 0 0 0 15px;
        color: $secondary-color;
        position: relative;
        left: 60%;
        z-index: -1;
        @include tr;

        &--visible {
            visibility: visible;
            position: relative;
            left: 0;
            z-index: 1;
            @include tr;
        }
    }
}

.togler {
    fill: $secondary-color;
    padding: .5em;
    display: inline-block;
    position: relative;
    z-index: 3;

    @media screen and (min-width:992px) {
        display: none;
    }
    .menu-opened & {
        fill: $primary-color;
    }
}

.opened {
    z-index: 2;
    opacity: 1;
    transform: translate(0, 0) scale(1);
    border-radius: 0;
}

.dropdown {
    will-change: transform;
    @include posA($top: 0, $left: 0, $delta_x: null, $delta_y: null);
    // right: 0;
    width: 100vw;
    height: 100vh;
    padding: 50px 0 0;
    z-index: -1;
    background-color: $secondary-color;
    opacity: 0;
    transform-origin: 15px 15px;
    transform: translate(0, 0) scale(0);
    border-radius: 50vw;
    @include tr();
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .menu-opened & {
        color: $primary-color;
        z-index: 2;
        opacity: 1;
        transform: translate(0, 0) scale(1);
        border-radius: 0;
    }

    @media screen and (min-width:992px) {
        position: relative;
        background-color: transparent;
        flex-direction: row;
        width: auto;
        height: auto;
        padding: 0;
        z-index: 2;
        opacity: 1;
        transform: translate(0, 0) scale(1);
    }
}