.sponsors {
    padding: 100px 0;
    background-color: $light-gray;

    &__wraper {
        border: 12px solid transparent;
        border-image: url(../img/border.png) 12 round;
        max-width: 690px;
        margin: 0 auto;
        text-align: center;
    }

    &__title {
        text-transform: uppercase;
        color: $dark;
        font-size: 2.4rem;
        letter-spacing: 0.2em;
    }
    &__list {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 20px;
    }
    &__item + &__item {
        margin-left: 50px;
    }
    &__item {
        max-height: 65px;
        max-width: 135px;
    }
}