<section class="section about">
    <div class="container">

        <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" data-toggle="tab"  href="#what">WHAT IS CBD?</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab"  href="#benefits">BENEFITS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab"  href="#difference">OUR DIFFERENCE</a>
            </li>
        </ul>
        <div class="tab-content"> 
            <div class="tab-pane tab__content fade show active" id="what">
                <div class="tab__text">
                    <div class="tab__title">WHAT IT IS AND HOW IT WORKS</div>
                    <p class="tab__paragraph">CBD is short for cannabidiol. It is a phytocannabinoid found in hemp and known for supporting the body and mind in many ways.* Charlotte’s Web products have cannabinoids with CBD extract.</p>
                    <p class="tab__paragraph">Not to be confused with oil from hemp seeds (which doesn’t contain cannabinoids), CBD comes from the flowers and leaves of the hemp plant.</p>
                    <p class="tab__paragraph">Why does CBD work? The human body has a vast network of receptors, the endocannabinoid system.</p>
                </div>
                <div class="tab__imgs">
                    <div class="tab__img-wrap">
                        <img src="./img/img1.jpg" alt="" class="tab__img">
                    </div>
                    <div class="tab__img-wrap">
                        <img src="./img/img4.jpg" alt="" class="tab__img">
                    </div>
                </div>
            </div>
            <div class="tab-pane tab__content fade" id="benefits">
                <div class="tab__text">
                    <div class="tab__title">WHAT IT IS </div>
                    <p class="tab__paragraph">CBD is short for cannabidiol. It is a phytocannabinoid found in hemp and known for supporting the body and mind in many ways.* Charlotte’s Web products have cannabinoids with CBD extract.</p>
                    <p class="tab__paragraph">Not to be confused with oil from hemp seeds (which doesn’t contain cannabinoids), CBD comes from the flowers and leaves of the hemp plant.</p>
                    <p class="tab__paragraph">Why does CBD work? The human body has a vast network of receptors, the endocannabinoid system.</p>
                </div>
                <div class="tab__imgs">
                    <div class="tab__img-wrap">
                        <img src="./img/img1.jpg" alt="" class="tab__img">
                    </div>
                    <div class="tab__img-wrap">
                        <img src="./img/img4.jpg" alt="" class="tab__img">
                    </div>
                </div>
            </div>
            <div class="tab-pane tab__content fade" id="difference">
                <div class="tab__text">
                    <div class="tab__title">HOW IT WORKS</div>
                    <p class="tab__paragraph">CBD is short for cannabidiol. It is a phytocannabinoid found in hemp and known for supporting the body and mind in many ways.* Charlotte’s Web products have cannabinoids with CBD extract.</p>
                    <p class="tab__paragraph">Not to be confused with oil from hemp seeds (which doesn’t contain cannabinoids), CBD comes from the flowers and leaves of the hemp plant.</p>
                    <p class="tab__paragraph">Why does CBD work? The human body has a vast network of receptors, the endocannabinoid system.</p>
                </div>
                <div class="tab__imgs">
                    <div class="tab__img-wrap">
                        <img src="./img/img1.jpg" alt="" class="tab__img">
                    </div>
                    <div class="tab__img-wrap">
                        <img src="./img/img4.jpg" alt="" class="tab__img">
                    </div>
                </div>
            </div>
            
        </div>



        
    </div>
</section>