<section class="section comments carousel slide">
    <div class="carousel slide carousel-fade slider" id="commentsSlider" data-ride="carousel">
        <div class="carousel-inner">
            <div  style="background-image: url(img/img8.jpg);" class="carousel-item coment active" data-interval="3500">
                <ul class="coment__stars">
                    <li class="social__item">
                        <a href="#" class="social__link" target="_blank">
                            <svg width="15" height="15" class="social__svg">
                                <use xlink:href="#star"/>
                            </svg>
                        </a>
                    </li>
                    <li class="social__item">
                        <a href="#" class="social__link" target="_blank">
                            <svg width="15" height="15" class="social__svg">
                                <use xlink:href="#star"/>
                            </svg>
                        </a>
                    </li>
                    <li class="social__item">
                        <a href="#" class="social__link" target="_blank">
                            <svg width="15" height="15" class="social__svg">
                                <use xlink:href="#star"/>
                            </svg>
                        </a>
                    </li>
                    <li class="social__item">
                        <a href="#" class="social__link" target="_blank">
                            <svg width="15" height="15" class="social__svg">
                                <use xlink:href="#star"/>
                            </svg>
                        </a>
                    </li>
                    <li class="social__item">
                        <a href="#" class="social__link" target="_blank">
                            <svg width="15" height="15" class="social__svg">
                                <use xlink:href="#star"/>
                            </svg>
                        </a>
                    </li>
                </ul>
                <blockquote class="coment__blockquote">amazing!</blockquote>
                <h4 class="coment__author">Mark J.</h4>
            </div>
            <div  style="background-image: url(img/img8.jpg);" class="carousel-item coment" data-interval="3500">
                <ul class="coment__stars">
                    <li class="social__item">
                        <a href="#" class="social__link" target="_blank">
                            <svg width="15" height="15" class="social__svg">
                                <use xlink:href="#star"/>
                            </svg>
                        </a>
                    </li>
                    <li class="social__item">
                        <a href="#" class="social__link" target="_blank">
                            <svg width="15" height="15" class="social__svg">
                                <use xlink:href="#star"/>
                            </svg>
                        </a>
                    </li>
                    <li class="social__item">
                        <a href="#" class="social__link" target="_blank">
                            <svg width="15" height="15" class="social__svg">
                                <use xlink:href="#star"/>
                            </svg>
                        </a>
                    </li>
                    <li class="social__item">
                        <a href="#" class="social__link" target="_blank">
                            <svg width="15" height="15" class="social__svg">
                                <use xlink:href="#star"/>
                            </svg>
                        </a>
                    </li>
                    <li class="social__item">
                        <a href="#" class="social__link" target="_blank">
                            <svg width="15" height="15" class="social__svg">
                                <use xlink:href="#star"/>
                            </svg>
                        </a>
                    </li>
                </ul>
                <blockquote class="coment__blockquote">I have tried another product after using this one successfully, and I am Back for good! I have gotten with this oil are amazing!</blockquote>
                <h4 class="coment__author">Mark J.</h4>
            </div>
            <div  style="background-image: url(img/img8.jpg);" class="carousel-item coment" data-interval="3500">
                <ul class="coment__stars">
                    <li class="social__item">
                        <a href="#" class="social__link" target="_blank">
                            <svg width="15" height="15" class="social__svg">
                                <use xlink:href="#star"/>
                            </svg>
                        </a>
                    </li>
                    <li class="social__item">
                        <a href="#" class="social__link" target="_blank">
                            <svg width="15" height="15" class="social__svg">
                                <use xlink:href="#star"/>
                            </svg>
                        </a>
                    </li>
                    <li class="social__item">
                        <a href="#" class="social__link" target="_blank">
                            <svg width="15" height="15" class="social__svg">
                                <use xlink:href="#star"/>
                            </svg>
                        </a>
                    </li>
                    <li class="social__item">
                        <a href="#" class="social__link" target="_blank">
                            <svg width="15" height="15" class="social__svg">
                                <use xlink:href="#star"/>
                            </svg>
                        </a>
                    </li>
                    <li class="social__item">
                        <a href="#" class="social__link" target="_blank">
                            <svg width="15" height="15" class="social__svg">
                                <use xlink:href="#star"/>
                            </svg>
                        </a>
                    </li>
                </ul>
                <blockquote class="coment__blockquote">I have tried another product after using this one successfully, and I am Back for good! The flavour, the lightness of the oil and the health benefits </blockquote>
                <h4 class="coment__author">Mark J.</h4>
            </div>
            <div  style="background-image: url(img/img8.jpg);" class="carousel-item coment" data-interval="3500">
                <ul class="coment__stars">
                    <li class="social__item">
                        <a href="#" class="social__link" target="_blank">
                            <svg width="15" height="15" class="social__svg">
                                <use xlink:href="#star"/>
                            </svg>
                        </a>
                    </li>
                    <li class="social__item">
                        <a href="#" class="social__link" target="_blank">
                            <svg width="15" height="15" class="social__svg">
                                <use xlink:href="#star"/>
                            </svg>
                        </a>
                    </li>
                    <li class="social__item">
                        <a href="#" class="social__link" target="_blank">
                            <svg width="15" height="15" class="social__svg">
                                <use xlink:href="#star"/>
                            </svg>
                        </a>
                    </li>
                    <li class="social__item">
                        <a href="#" class="social__link" target="_blank">
                            <svg width="15" height="15" class="social__svg">
                                <use xlink:href="#star"/>
                            </svg>
                        </a>
                    </li>
                    <li class="social__item">
                        <a href="#" class="social__link" target="_blank">
                            <svg width="15" height="15" class="social__svg">
                                <use xlink:href="#star"/>
                            </svg>
                        </a>
                    </li>
                </ul>
                <blockquote class="coment__blockquote">I have tried another product after using this one successfully,  The flavour, the lightness of the oil and the health benefits </blockquote>
                <h4 class="coment__author">Mark J.</h4>
            </div>
            <div  style="background-image: url(img/img8.jpg);" class="carousel-item coment" data-interval="3500">
                <ul class="coment__stars">
                    <li class="social__item">
                        <a href="#" class="social__link" target="_blank">
                            <svg width="15" height="15" class="social__svg">
                                <use xlink:href="#star"/>
                            </svg>
                        </a>
                    </li>
                    <li class="social__item">
                        <a href="#" class="social__link" target="_blank">
                            <svg width="15" height="15" class="social__svg">
                                <use xlink:href="#star"/>
                            </svg>
                        </a>
                    </li>
                    <li class="social__item">
                        <a href="#" class="social__link" target="_blank">
                            <svg width="15" height="15" class="social__svg">
                                <use xlink:href="#star"/>
                            </svg>
                        </a>
                    </li>
                    <li class="social__item">
                        <a href="#" class="social__link" target="_blank">
                            <svg width="15" height="15" class="social__svg">
                                <use xlink:href="#star"/>
                            </svg>
                        </a>
                    </li>
                    <li class="social__item">
                        <a href="#" class="social__link" target="_blank">
                            <svg width="15" height="15" class="social__svg">
                                <use xlink:href="#star"/>
                            </svg>
                        </a>
                    </li>
                </ul>
                <blockquote class="coment__blockquote"> and I am Back for good! The flavour, the lightness of the oil and the health benefits I have gotten with this oil are amazing!</blockquote>
                <h4 class="coment__author">Mark J.</h4>
            </div>
        </div>
        
        <div class="slider__navigation">
            <a role="button" href="#commentsSlider" class="btn btn-outline-light slider__arrow slider__arrow--left" data-slide="prev">
                <svg width="30" height="30" class="subscribe__svg">
                    <use xlink:href="#arrow"/>
                </svg>
            </a>
            <a role="button" href="#commentsSlider" class="btn btn-outline-light slider__arrow slider__arrow--right" data-slide="next">
                <svg width="30" height="30" class="subscribe__svg">
                    <use xlink:href="#arrow"/>
                </svg>
            </a>
        </div>
        
    </div>
    <div class="intro__side-container intro__side-container--comment">
        <span class="intro__side-text intro__side-text--comment">CBD Potion health</span>
    </div>
</section>
