<section class="section comments">
    <div class="slider">
        <div class="coment" style="background-image: url(img/img8.jpg);">
            <ul class="coment__stars">
                <li class="social__item">
                    <a href="#" class="social__link" target="_blank">
                        <svg width="15" height="15" class="social__svg">
                            <use xlink:href="#star"/>
                        </svg>
                    </a>
                </li>
                <li class="social__item">
                    <a href="#" class="social__link" target="_blank">
                        <svg width="15" height="15" class="social__svg">
                            <use xlink:href="#star"/>
                        </svg>
                    </a>
                </li>
                <li class="social__item">
                    <a href="#" class="social__link" target="_blank">
                        <svg width="15" height="15" class="social__svg">
                            <use xlink:href="#star"/>
                        </svg>
                    </a>
                </li>
                <li class="social__item">
                    <a href="#" class="social__link" target="_blank">
                        <svg width="15" height="15" class="social__svg">
                            <use xlink:href="#star"/>
                        </svg>
                    </a>
                </li>
                <li class="social__item">
                    <a href="#" class="social__link" target="_blank">
                        <svg width="15" height="15" class="social__svg">
                            <use xlink:href="#star"/>
                        </svg>
                    </a>
                </li>
            </ul>
            <blockquote class="coment__blockquote">I have tried another product after using this one successfully, and I am Back for good! The flavour, the lightness of the oil and the health benefits I have gotten with this oil are amazing!</blockquote>
            <h4 class="coment__author">Mark J.</h4>
        </div>
        <div class="slider__navigation">
            <button type="button" class="btn btn-outline-light slider__arrow slider__arrow--left">
                <svg width="30" height="30" class="subscribe__svg">
                    <use xlink:href="#arrow"/>
                </svg>
            </button>
            <button type="button" class="btn btn-outline-light slider__arrow">
                <svg width="30" height="30" class="subscribe__svg">
                    <use xlink:href="#arrow"/>
                </svg>
            </button>
        </div>
    </div>
    <div class="intro__side-container intro__side-container--comment">
        <span class="intro__side-text intro__side-text--comment">CBD Potion health</span>
    </div>
</section>