<footer class="section footer" id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 footer__colum">
                <ul class="footer__links">
                    <li><a href="#" class="footer__link">Privacy Policy</a></li>
                    <li><a href="#" class="footer__link">Terms of Use</a></li>
                    <li><a href="#" class="footer__link">Return Policy</a></li>
                </ul>
            </div>
            <div class="col-md-4 subscribe">
                <div class="footer__logo-wrap">
                    <h2 class="footer__logo"><a href="#">cbd</a></h2>
                </div>
                <ul class="social">
                    <li class="social__item">
                        <a href="#" class="social__link" target="_blank">
                            <svg width="30" height="20" class="social__svg">
                                <use xlink:href="#facebook"/>
                            </svg>
                        </a>
                    </li>
                    <li class="social__item">
                        <a href="#" class="social__link" target="_blank">
                            <svg width="30" height="20" class="social__svg">
                                <use xlink:href="#twitter"/>
                            </svg>
                        </a>
                    </li>
                    <li class="social__item">
                        <a href="#" class="social__link" target="_blank">
                            <svg width="30" height="20" class="social__svg">
                                <use xlink:href="#youtube"/>
                            </svg>
                        </a>
                    </li>
                </ul> 
                <div class="footer__vertical-line"></div>
                <h4 class="subscribe__title">Subscribe to Newsletter</h4>
                <form action="#" class="subscribe__form">
                    <div class="input-group mb-3">
                        <input type="email" class="form-control" placeholder="Email" aria-label="Recipient's username" aria-describedby="button-addon">
                        <div class="form__vertical-line"></div>
                        <button class="btn btn-outline-secondary" type="button" id="button-addon">
                            <svg width="30" height="30" class="subscribe__svg">
                                <use xlink:href="#arrow"/>
                            </svg>
                        </button>
                    </div>
                </form>
            </div>
            <div class="col-md-4 footer__colum">
                <ul class="footer__links">
                    <li><a href="#" class="footer__link">SHIPPING INFO</a></li>
                    <li><a href="#" class="footer__link">RETURNS / EXCHANGES</a></li>
                    <li><a href="#" class="footer__link">CONTACT</a></li>
                </ul>
            </div>
        </div>
        <div class="copy">© 2018. CbD health.</div>
    </div>
</footer>