<header class="header header--active">
    <nav class="navigation">
        <ul class="navigation__list">
            <li class="navigation__item"><a href="#" class="navigation__link crosed">home</a></li>
            <li class="navigation__item"><a href="#" class="navigation__link">products</a></li>
            <li class="navigation__item"><a href="#" class="navigation__link">faqs</a></li>
            <li class="navigation__item"><a href="#" class="navigation__link">contact us</a></li>
        </ul>
    </nav>
    <div class="logo-wraper">
        <a href="#" class="logo">
            <h1>cbd</h1>
        </a>
    </div>
    <div class="side-panel">
        <ul class="side-panel__list">
            <li class="side-panel__btn"><a href="#" class="side-panel__link">login</a></li>
            <li class="side-panel__btn">
                <!-- <input type="text" placeholder="Search" class="search__input search__input--visible"> -->
                <a href="#" class="side-panel__link">
                <svg width="20" height="20" class="search__icon">
                    <use xlink:href="#search"/>
                </svg> search</a>
            </li>
            <li class="side-panel__btn"><a href="#" class="side-panel__link">cart (0)</a></li>
        </ul>
    </div>
</header>