<section class="section products">
    <h3 class="section__title">CBD Featured Products</h3>
    <div class="product">
        <div class="product__content">
            <ul class="stars">
                <li class="social__item">
                    <a href="#" class="social__link" target="_blank">
                        <svg width="15" height="15" class="social__svg">
                            <use xlink:href="#star"/>
                        </svg>
                    </a>
                </li>
                <li class="social__item">
                    <a href="#" class="social__link" target="_blank">
                        <svg width="15" height="15" class="social__svg">
                            <use xlink:href="#star"/>
                        </svg>
                    </a>
                </li>
                <li class="social__item">
                    <a href="#" class="social__link" target="_blank">
                        <svg width="15" height="15" class="social__svg">
                            <use xlink:href="#star"/>
                        </svg>
                    </a>
                </li>
                <li class="social__item">
                    <a href="#" class="social__link" target="_blank">
                        <svg width="15" height="15" class="social__svg">
                            <use xlink:href="#star"/>
                        </svg>
                    </a>
                </li>
                <li class="social__item">
                    <a href="#" class="social__link" target="_blank">
                        <svg width="15" height="15" class="social__svg">
                            <use xlink:href="#star"/>
                        </svg>
                    </a>
                </li>
            </ul>
            <h4 class="product__title">Black ICE CBD Muscle Rub 200 mg</h4>
            <div class="product__img-wrap">
                <img src="img/img6.jpg" alt="">
            </div>
        </div> 
        <div class="product__footer">
            <div class="product__price">$49.99 USD</div>
            <a href="#" class="button  button--product">
                <span class="button__text">Shop</span>
                <span class="button__line button__line-product"></span>
            </a>
        </div>
    </div>
</section>