<section class="section products" id="products">
    <h3 class="section__title">CBD Featured Products</h3>
    <div id="productsSlider" class="swiper-container slider" >
        <div class="swiper-wrapper slider">
            <div class="product swiper-slide">
                <div class="product__content">
                    <ul class="stars">
                        <li class="social__item">
                            <a href="#" class="social__link" target="_blank">
                                <svg width="15" height="15" class="social__svg">
                                    <use xlink:href="#star"/>
                                </svg>
                            </a>
                        </li>
                        <li class="social__item">
                            <a href="#" class="social__link" target="_blank">
                                <svg width="15" height="15" class="social__svg">
                                    <use xlink:href="#star"/>
                                </svg>
                            </a>
                        </li>
                        <li class="social__item">
                            <a href="#" class="social__link" target="_blank">
                                <svg width="15" height="15" class="social__svg">
                                    <use xlink:href="#star"/>
                                </svg>
                            </a>
                        </li>
                        <li class="social__item">
                            <a href="#" class="social__link" target="_blank">
                                <svg width="15" height="15" class="social__svg">
                                    <use xlink:href="#star"/>
                                </svg>
                            </a>
                        </li>
                        <li class="social__item">
                            <a href="#" class="social__link" target="_blank">
                                <svg width="15" height="15" class="social__svg">
                                    <use xlink:href="#star"/>
                                </svg>
                            </a>
                        </li>
                    </ul>
                    <h4 class="product__title">cbd 500 mg orange flavor tincture</h4>
                    <div class="product__img-wrap">
                        <img src="img/img5.jpg" alt="">
                    </div>
                </div> 
                <div class="product__footer">
                    <div class="product__price">$49.99 USD</div>
                    <a href="#" class="button  button--product">
                        <span class="button__text">Shop</span>
                        <span class="button__line button__line-product"></span>
                    </a>
                </div>
            </div>
            <div class="product swiper-slide">
                <div class="product__content">
                    <ul class="stars">
                        <li class="social__item">
                            <a href="#" class="social__link" target="_blank">
                                <svg width="15" height="15" class="social__svg">
                                    <use xlink:href="#star"/>
                                </svg>
                            </a>
                        </li>
                        <li class="social__item">
                            <a href="#" class="social__link" target="_blank">
                                <svg width="15" height="15" class="social__svg">
                                    <use xlink:href="#star"/>
                                </svg>
                            </a>
                        </li>
                        <li class="social__item">
                            <a href="#" class="social__link" target="_blank">
                                <svg width="15" height="15" class="social__svg">
                                    <use xlink:href="#star"/>
                                </svg>
                            </a>
                        </li>
                        <li class="social__item">
                            <a href="#" class="social__link" target="_blank">
                                <svg width="15" height="15" class="social__svg">
                                    <use xlink:href="#star"/>
                                </svg>
                            </a>
                        </li>
                        <li class="social__item">
                            <a href="#" class="social__link" target="_blank">
                                <svg width="15" height="15" class="social__svg">
                                    <use xlink:href="#star"/>
                                </svg>
                            </a>
                        </li>
                    </ul>
                    <h4 class="product__title">Black ICE CBD Muscle Rub 200 mg</h4>
                    <div class="product__img-wrap">
                        <img src="img/img6.jpg" alt="">
                    </div>
                </div> 
                <div class="product__footer">
                    <div class="product__price">$49.99 USD</div>
                    <a href="#" class="button  button--product">
                        <span class="button__text">Shop</span>
                        <span class="button__line button__line-product"></span>
                    </a>
                </div>
            </div>
            <div class="product swiper-slide">
                <div class="product__content">
                    <ul class="stars">
                        <li class="social__item">
                            <a href="#" class="social__link" target="_blank">
                                <svg width="15" height="15" class="social__svg">
                                    <use xlink:href="#star"/>
                                </svg>
                            </a>
                        </li>
                        <li class="social__item">
                            <a href="#" class="social__link" target="_blank">
                                <svg width="15" height="15" class="social__svg">
                                    <use xlink:href="#star"/>
                                </svg>
                            </a>
                        </li>
                        <li class="social__item">
                            <a href="#" class="social__link" target="_blank">
                                <svg width="15" height="15" class="social__svg">
                                    <use xlink:href="#star"/>
                                </svg>
                            </a>
                        </li>
                        <li class="social__item">
                            <a href="#" class="social__link" target="_blank">
                                <svg width="15" height="15" class="social__svg">
                                    <use xlink:href="#star"/>
                                </svg>
                            </a>
                        </li>
                        <li class="social__item">
                            <a href="#" class="social__link" target="_blank">
                                <svg width="15" height="15" class="social__svg">
                                    <use xlink:href="#star"/>
                                </svg>
                            </a>
                        </li>
                    </ul>
                    <h4 class="product__title">cbd + curcumin coffee 750 mg</h4>
                    <div class="product__img-wrap">
                        <img src="img/img7.jpg" alt="">
                    </div>
                </div> 
                <div class="product__footer">
                    <div class="product__price">$49.99 USD</div>
                    <a href="#" class="button  button--product">
                        <span class="button__text">Shop</span>
                        <span class="button__line button__line-product"></span>
                    </a>
                </div>
            </div>
            <div class="product swiper-slide">
                <div class="product__content">
                    <ul class="stars">
                        <li class="social__item">
                            <a href="#" class="social__link" target="_blank">
                                <svg width="15" height="15" class="social__svg">
                                    <use xlink:href="#star"/>
                                </svg>
                            </a>
                        </li>
                        <li class="social__item">
                            <a href="#" class="social__link" target="_blank">
                                <svg width="15" height="15" class="social__svg">
                                    <use xlink:href="#star"/>
                                </svg>
                            </a>
                        </li>
                        <li class="social__item">
                            <a href="#" class="social__link" target="_blank">
                                <svg width="15" height="15" class="social__svg">
                                    <use xlink:href="#star"/>
                                </svg>
                            </a>
                        </li>
                        <li class="social__item">
                            <a href="#" class="social__link" target="_blank">
                                <svg width="15" height="15" class="social__svg">
                                    <use xlink:href="#star"/>
                                </svg>
                            </a>
                        </li>
                        <li class="social__item">
                            <a href="#" class="social__link" target="_blank">
                                <svg width="15" height="15" class="social__svg">
                                    <use xlink:href="#star"/>
                                </svg>
                            </a>
                        </li>
                    </ul>
                    <h4 class="product__title">cbd 500 mg orange flavor tincture</h4>
                    <div class="product__img-wrap">
                        <img src="img/img5.jpg" alt="">
                    </div>
                </div> 
                <div class="product__footer">
                    <div class="product__price">$49.99 USD</div>
                    <a href="#" class="button  button--product">
                        <span class="button__text">Shop</span>
                        <span class="button__line button__line-product"></span>
                    </a>
                </div>
            </div>
            <div class="product swiper-slide">
                <div class="product__content">
                    <ul class="stars">
                        <li class="social__item">
                            <a href="#" class="social__link" target="_blank">
                                <svg width="15" height="15" class="social__svg">
                                    <use xlink:href="#star"/>
                                </svg>
                            </a>
                        </li>
                        <li class="social__item">
                            <a href="#" class="social__link" target="_blank">
                                <svg width="15" height="15" class="social__svg">
                                    <use xlink:href="#star"/>
                                </svg>
                            </a>
                        </li>
                        <li class="social__item">
                            <a href="#" class="social__link" target="_blank">
                                <svg width="15" height="15" class="social__svg">
                                    <use xlink:href="#star"/>
                                </svg>
                            </a>
                        </li>
                        <li class="social__item">
                            <a href="#" class="social__link" target="_blank">
                                <svg width="15" height="15" class="social__svg">
                                    <use xlink:href="#star"/>
                                </svg>
                            </a>
                        </li>
                        <li class="social__item">
                            <a href="#" class="social__link" target="_blank">
                                <svg width="15" height="15" class="social__svg">
                                    <use xlink:href="#star"/>
                                </svg>
                            </a>
                        </li>
                    </ul>
                    <h4 class="product__title">Black ICE CBD Muscle Rub 200 mg</h4>
                    <div class="product__img-wrap">
                        <img src="img/img6.jpg" alt="">
                    </div>
                </div> 
                <div class="product__footer">
                    <div class="product__price">$49.99 USD</div>
                    <a href="#" class="button  button--product">
                        <span class="button__text">Shop</span>
                        <span class="button__line button__line-product"></span>
                    </a>
                </div>
            </div>
            <div class="product swiper-slide">
                <div class="product__content">
                    <ul class="stars">
                        <li class="social__item">
                            <a href="#" class="social__link" target="_blank">
                                <svg width="15" height="15" class="social__svg">
                                    <use xlink:href="#star"/>
                                </svg>
                            </a>
                        </li>
                        <li class="social__item">
                            <a href="#" class="social__link" target="_blank">
                                <svg width="15" height="15" class="social__svg">
                                    <use xlink:href="#star"/>
                                </svg>
                            </a>
                        </li>
                        <li class="social__item">
                            <a href="#" class="social__link" target="_blank">
                                <svg width="15" height="15" class="social__svg">
                                    <use xlink:href="#star"/>
                                </svg>
                            </a>
                        </li>
                        <li class="social__item">
                            <a href="#" class="social__link" target="_blank">
                                <svg width="15" height="15" class="social__svg">
                                    <use xlink:href="#star"/>
                                </svg>
                            </a>
                        </li>
                        <li class="social__item">
                            <a href="#" class="social__link" target="_blank">
                                <svg width="15" height="15" class="social__svg">
                                    <use xlink:href="#star"/>
                                </svg>
                            </a>
                        </li>
                    </ul>
                    <h4 class="product__title">cbd + curcumin coffee 750 mg</h4>
                    <div class="product__img-wrap">
                        <img src="img/img7.jpg" alt="">
                    </div>
                </div> 
                <div class="product__footer">
                    <div class="product__price">$49.99 USD</div>
                    <a href="#" class="button  button--product">
                        <span class="button__text">Shop</span>
                        <span class="button__line button__line-product"></span>
                    </a>
                </div>
            </div>
        </div>

        
            <div class="btn btn-outline-light slider__arrow slider__arrow--left ">
                <svg width="30" height="30" class="subscribe__svg">
                    <use xlink:href="#arrow"/>
                </svg>
            </div>
            <div class="btn btn-outline-light slider__arrow slider__arrow--right ">
                <svg width="30" height="30" class="subscribe__svg">
                    <use xlink:href="#arrow"/>
                </svg>
            </div>
        
    </div>
</section>