@mixin slider-hover {
    @include tr;
    &:hover,
    &:focus,
    &:active,
    &--active {
        @content
    }
}

.slider {
    position: relative;

    &__navigation {
        @include posA(null, 50%, -50%, 0);
        // bottom: 0;
        // margin-bottom: -2px;
    }

    &__arrow {
        padding: 45px;

        svg {
            fill: $secondary-color;
            @include tr;
        }
    
        &--left {
          margin-right: -7px;
          transform: rotateZ(180deg);
        }
        @include hover {
            svg {
                fill: $primary-color;
            }
        }
    }


    // &__arrow {
    //     position: absolute;
    //     top: 0;
    //     bottom: 0;
    //     padding: 20px;
    //     background: none;
    //     border: none;
    //     color: $primary-color;
    //     font-size: 2em;

    //     @include tr;
    //     @include hover {
    //         transform: scale(1.2);
    //         cursor: pointer;
    //     }

    //     &--prev {
    //         left: 0;

    //         i {
    //             margin-left: -3px;
    //         }
    //     }

    //     &--next {
    //         right: 0;

    //         i {
    //             margin-right: -3px;
    //         }
    //     }
    // }

    // &__dots {
    //     padding: 0;
    //     margin: 0;
    //     list-style: none;
    //     text-align: center;

    //     li {
    //         display: inline-block;
    //     }
    // }

    // &__dot {
    //     display: inline-block;
    //     width: 16px;
    //     height: 16px;
    //     border-radius: 50%;
    //     background-color: $primary-color;
    //     border: $border-width solid $secondary-color;

    //     @include tr;
    //     @include slider-hover {
    //         background-color: $secondary-color;
    //         border-color: $primary-color;
    //         cursor: pointer;
    //     }
    // }
}