@mixin slider-hover {
    @include tr;
    &:hover,
    &:focus,
    &:active,
    &--active {
        @content
    }
}

.slider {
    position: relative;

    &__navigation {
        @include posA(null, 50%, -50%, 0);
        z-index: 5;
    }

    &__arrow {
        padding: 45px;

        svg {
            fill: $secondary-color;
            @include tr;
        }
    
        &--left {
          margin-right: -7px;
          transform: rotateZ(180deg);
        }
        @include hover {
            svg {
                fill: $primary-color;
            }
        }
    }

}