.social {
    list-style: none;
    padding: 50px 0 40px;
    text-align: center;


    &__item {
        display: inline-block;
        margin: 0 30px;
    }

    &__link {
        display: inline-block;
        
    }
    &__svg {
        fill: $primary-color;
        @include tr;
        @include hover {
            fill: $primary-light;
        }

    }
}