@import 'normalize';
@import 'variables';
@import 'mixins';
@import 'sliders';
@import 'socials';

* {
  box-sizing: border-box;
}

html {
  font-size: 8px;
  scroll-behavior: smooth;

  @media screen and (min-width: 768px) {
    font-size: 9px;    
  }
  @media screen and (min-width: 1200px) {
    font-size: 10px;    
  }
}
body {
  @include font($primary-ff, 1.4rem, $secondary-color, $lh: 1.7, $ls: .2em);
  padding: 0;
  background-color: $body-bg;
}
ul {  
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
  @include hover {
    color: inherit;
  }
}
h1 {
  margin: 0;
  line-height: 80px;
}
  
.container {
  margin: 0 auto;
  max-width: 1170px;
  // padding: 15px;

  &--intro {
    text-align: right;
    display: flex;
    justify-content: flex-end;
  }
}

.section {
  position: relative;

  &__title {
    @include font(inherit, 2.4rem, $dark, 400, 4.5rem, .2em);
    text-transform: uppercase;
    margin-bottom: 25px;

    @media screen and (min-width: 768px) {
      font-size: 3rem;
      line-height: 7.5rem;
    }
  }
}

.button {
  display: inline-flex;
  align-items: center;
  border: $border-width solid $border-color;
  @include font(inherit, 1.6rem, $secondary-color);
  padding: 15px 25px;
  text-transform: uppercase;

  &__line {
    display: inline-block;
    width: 25px;
    height: 2px;
    background-color: $secondary-color;
    margin-left: 10px;
    @include tr;

    @media screen and (min-width: 1200px) {
      width: 45px;
      margin-left: 20px;
    }
  }

  @media screen and (min-width: 1200px) {
    font-size: 2rem;
    padding: 25px 40px;
  }

  &__toshop {
    text-transform: none;
    border: none;
    color: $light-gray;
    letter-spacing: .28em;
    padding: 25px 0;
    @include hover {
      opacity: .6;
    }
  }
  &--intro {
    @include hover {
      color: $primary-color;
      background-color: $secondary-color;

      & .button__line--intro {
          background-color: $primary-color;
      }
    }    
  }
}

.btn {
  border-radius: 0;
}



@import 'partials/header';
@import 'partials/intro';
@import 'partials/sponsors';
@import 'partials/about';
@import 'partials/products';
@import 'partials/faq';
@import 'partials/comments';
@import 'partials/footer';